html, body {
	margin:0;
	width: 100%;

    /*background-color: aqua;*/
}
#header {
	margin:0;
	width: 100%;

    background: -webkit-linear-gradient(black, #05A);
    background: -o-linear-gradient(red, #05A);
    background: -moz-linear-gradient(red, #05A);
    background: linear-gradient(black, #05A);
}
.logo {
	margin:0px;
}
