<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>LUX Image Hosting</display-name>
    <description>
	LUX is a free image hosting website.
    </description>

    <servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>RestController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/RestService</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadFolderServlet</servlet-name>
        <servlet-class>UploadFolder</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UploadFolderServlet</servlet-name>
        <url-pattern>/UploadFolder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PictureBrowse</servlet-name>
        <servlet-class>PictureBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PictureBrowse</servlet-name>
        <url-pattern>/PictureBrowse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetOnePic</servlet-name>
        <servlet-class>GetOnePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOnePic</servlet-name>
        <url-pattern>/GetOnePic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetBigPic</servlet-name>
        <servlet-class>GetBigPic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBigPic</servlet-name>
        <url-pattern>/GetBigPic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>myPicBrowse</servlet-name>
        <servlet-class>myPicBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myPicBrowse</servlet-name>
        <url-pattern>/myPicBrowse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>publicPicBrowse</servlet-name>
        <servlet-class>publicPicBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>publicPicBrowse</servlet-name>
        <url-pattern>/publicPicBrowse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>groupPicBrowse</servlet-name>
        <servlet-class>groupPicBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>groupPicBrowse</servlet-name>
        <url-pattern>/groupPicBrowse</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>popularPicBrowse</servlet-name>
        <servlet-class>popularPicBrowse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>popularPicBrowse</servlet-name>
        <url-pattern>/popularPicBrowse</url-pattern>
    </servlet-mapping>

</web-app>
