<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>LUX Image Hosting</display-name>
    <description>
	LUX is a free image hosting website.
    </description>

    <servlet>
        <servlet-name>RestServlet</servlet-name>
        <servlet-class>RestController</servlet-class>

        <!-- <multipart-config>
            <location>C:/Users/MechanicalSlug/Documents/school/sem10(fall2014)/CMPUT 391/Project/Tomcat8.0/webapps/CMPUT391F/LUX</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config> -->
    </servlet>

    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <url-pattern>/RestService</url-pattern>
    </servlet-mapping>

</web-app>
